div.footer {
    width: 100%;
    height: 68px;
    background: #19a4e1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.total-price, div.content, div.logo-cart {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.circle {
    width: 36px;
    height: 36px;
    position: relative;
    background: #0c7dae;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}