* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

body {
  background: #f7f7f7;
  height: 100%;
}

div.container {
  width: 960px;
  height: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}